p.intro {
    font-family: Roboto;
}

.bottom_section {
    background-image: url("/alumni/mockup-assets/images/keyboard_coffee.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}