p.intro {
    font-family: Roboto;
}

.bottom_section {
    background-image: url("/alumni/mockup-assets/images/keyboard_coffee.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

body {
    background: rgb(221,232,232);
    background: linear-gradient(0deg, rgba(221,232,232,1) 0%, rgba(17,144,161,0.4108018207282913) 99%);}

.haley, .kacee, .ginger, .rachael, .rachel, .ciara, .danny2, .danny3, .danny4, .danny5 {
    transition: all .7s ease-in-out;
    /* animation: fadeIn 3s; */
}

.haley:hover, .kacee:hover, .ginger:hover, .rachael:hover, .rachel:hover,
 .ciara:hover, .danny2:hover, .danny3:hover, .danny4:hover, .danny5:hover {
    transform: scale(1.1);
}
section.mentors {
background-color: #BDC7C7;
}