h1,h2 {
    font-family: "Times New Roman", serif;
}

.drops_img, .flour_img {
    width: auto;
    height: 2rem;
    text-align: center;
}

.flex.mb-2.items-center.justify-center.w-12.h-12.rounded-full.bg-gray-500.text-gray-50.font-bold.text-xl.leading-loose {
    background-color: white;
}